body{
    margin: 0.5;
    padding: 0;
    background-color:chocolate;
}
.intro {
    font-family: "Times New Roman", Helvetica, sans-serif;
    color:gold;
    text-align: center;
    background-color:black;
    
}
.background-color {
    background-color: rgba(45, 45, 45, 0.1);
    font-size: x-large;
    
}
.edit {
    float: right;
    border-radius: 25% 10%;;
    height:800px;
    width:400px;
}
.body {

    background-color: antiquewhite;

}
.achieve {
    text-align:left;
    position: relative;
    bottom: 15px;
}

a:link, a:visited{
    text-decoration: none;
    background-color:gold;
    border: 10px solid black;
    padding: 10px;
    color: black;
    display:block;
    width: 200px;
    text-align: left;
    margin-bottom: 1px;
    margin-left: 5px;
    border-radius: 10px 100px / 120px;
}
a:hover, a:active{
    background-color: red;
    color:whitesmoke;

}
