.intro {
    font-family: "Times New Roman", Helvetica, sans-serif;
    color: red;
    text-align: center;
    background-color: rgba(45, 45, 45, 0.1);
    
}
.background-color {
    background-color: rgba(45, 45, 45, 0.1);
    font-size: x-large;
    
}
.edit {
    border-radius: 100px;
}
.body {
    background-color: antiquewhite;
}
.achieve {
    text-align:left;
    position: relative;
    bottom: 15px;
}

a:link, a:visited{
    text-decoration: none;
    background-color: green;
    border: 1px solid brown;
    color: black;
    display:block;
    width: 200px;
    text-align: left;
    margin-bottom: 1px;
    
}
a:hover, a:active{
    background-color: red;
    color:purple;

}

